# Exercises

In [1]:
import pandas as pd
import numpy as np

election = pd.read_csv('./data/pennsylvania2012_turnout.csv', index_col='county')
print(election.shape)
election.head()

(67, 8)

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118

In [2]:
# Slice the row labels 'Perry' to 'Potter': p_counties
election.loc['Perry':'Potter', :]

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Perry,PA,18240,29.769737,68.591009,Romney,27245,66.948064,38.821272
Philadelphia,PA,653598,85.224251,14.051451,Obama,1099197,59.461407,71.172800
Pike,PA,23164,43.904334,54.882576,Romney,41840,55.363289,10.978242
Potter,PA,7205,26.259542,72.158223,Romney,10913,66.022175,45.898681

In [3]:
# Slice the row labels 'Potter' to 'Perry' in reverse order: p_counties_rev
election.loc['Potter':'Perry': -1, :]

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Potter,PA,7205,26.259542,72.158223,Romney,10913,66.022175,45.898681
Pike,PA,23164,43.904334,54.882576,Romney,41840,55.363289,10.978242
Philadelphia,PA,653598,85.224251,14.051451,Obama,1099197,59.461407,71.172800
Perry,PA,18240,29.769737,68.591009,Romney,27245,66.948064,38.821272

In [4]:
# Slice the columns from the starting column to 'Obama': left_columns
left_columns = election.loc[:, :'Obama']

# Print the output of left_columns.head()
print(left_columns.head())

# Slice the columns from 'Obama' to 'winner': middle_columns
middle_columns = election.loc[:, 'Obama':'winner']

# Print the output of middle_columns.head()
print(middle_columns.head())

# Slice the columns from 'Romney' to the end: 'right_columns'
right_columns = election.loc[:, 'Romney':]

# Print the output of right_columns.head()
print(right_columns.head())

          state   total      Obama
county
Adams        PA   41973  35.482334
Allegheny    PA  614671  56.640219
Armstrong    PA   28322  30.696985
Beaver       PA   80015  46.032619
Bedford      PA   21444  22.057452
               Obama     Romney  winner
county
Adams      35.482334  63.112001  Romney
Allegheny  56.640219  42.185820   Obama
Armstrong  30.696985  67.901278  Romney
Beaver     46.032619  52.637630  Romney
Bedford    22.057452  76.986570  Romney
              Romney  winner  voters    turnout     margin
county
Adams      63.112001  Romney   61156  68.632677  27.629667
Allegheny  42.185820   Obama  924351  66.497575  14.454399
Armstrong  67.901278  Romney   42147  67.198140  37.204293
Beaver     52.637630  Romney  115157  69.483401   6.605012
Bedford    76.986570  Romney   32189  66.619031  54.929118

In [5]:
# Create the list of row labels: rows
rows = ['Philadelphia', 'Centre', 'Fulton']

# Create the list of column labels: cols
cols = ['winner', 'Obama', 'Romney']

# Create the new DataFrame: three_counties
three_counties = election.loc[rows, cols]

# Print the three_counties DataFrame
print(three_counties)

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

In [6]:
# Create the boolean array: high_turnout
high_turnout = election.turnout > 70

# Filter the election DataFrame with the high_turnout array: high_turnout_df
high_turnout_df = election[high_turnout]

# Print the high_turnout_results DataFrame
print(high_turnout_df)

             state   total      Obama     Romney  winner  voters    turnout  \
county
Bucks           PA  319407  49.966970  48.801686   Obama  435606  73.324748
Butler          PA   88924  31.920516  66.816607  Romney  122762  72.436096
Chester         PA  248295  49.228539  49.650617  Romney  337822  73.498766
Forest          PA    2308  38.734835  59.835355  Romney    3232  71.410891
Franklin        PA   62802  30.110506  68.583803  Romney   87406  71.850903
Montgomery      PA  401787  56.637223  42.286834   Obama  551105  72.905708
Westmoreland    PA  168709  37.567646  61.306154  Romney  238006  70.884347

                 margin
county
Bucks          1.165284
Butler        34.896091
Chester        0.422079
Forest        21.100520
Franklin      38.473297
Montgomery    14.350390
Westmoreland  23.738508

In [7]:
election[election.turnout < 60]

,state,total,Obama,Romney,winner,voters,turnout,margin
county,,,,,,,,
Blair,PA,47631,32.575424,66.133401,Romney,85328,55.821067,33.557977
Bradford,PA,22501,36.847251,61.450602,Romney,40490,55.571746,24.603351
Cameron,PA,1967,34.417895,64.260295,Romney,3651,53.875651,29.842400
Clinton,PA,12663,43.457317,54.813235,Romney,22969,55.130829,11.355919
Fayette,PA,48196,45.317039,53.624782,Romney,91681,52.569235,8.307743
Jefferson,PA,17072,26.563964,71.977507,Romney,28549,59.798942,45.413543
McKean,PA,15014,35.033968,63.234315,Romney,25861,58.056533,28.200346
Monroe,PA,59312,56.364648,42.318586,Obama,108879,54.475151,14.046062
Montour,PA,7787,38.859638,59.535123,Romney,13518,57.604675,20.675485
Northumberland,PA,31512,39.324702,58.758568,Romney,54978,57.317472,19.433866
Philadelphia,PA,653598,85.224251,14.051451,Obama,1099197,59.461407,71.172800
Pike,PA,23164,43.904334,54.882576,Romney,41840,55.363289,10.978242
Warren,PA,16462,41.112866,57.192322,Romney,29111,56.549071,16.079456

In [8]:
print(len(election[election.winner == 'Romney']))
print(len(election[election.winner == 'Obama']))

55
12

Use boolean selection to filter the rows where the margin was less than 1%. You'll then convert these rows of the 'winner' column to `np.nan` to indicate that these results are too close to declare a winner.

In [10]:
# Create the boolean array: too_close
too_close = election.margin < 1.0

# Assign np.nan to the 'winner' column where the results were too close to call
election.winner[too_close] = np.nan
election.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67 entries, Adams to York
Data columns (total 8 columns):
state      67 non-null object
total      67 non-null int64
Obama      67 non-null float64
Romney     67 non-null float64
winner     64 non-null object
voters     67 non-null int64
turnout    67 non-null float64
margin     67 non-null float64
dtypes: float64(4), int64(2), object(2)
memory usage: 7.2+ KB

/media/theboymo/d64061fd-29fa-457c-8209-b6a7ed06885f/home/theboymo/MiniConda/envs/ml37/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In certain scenarios, it may be necessary to remove rows and columns with missing data from a DataFrame. The .dropna() method is used to perform this action.

Loading the Titainc dataset, focusing on the `age` and `cabin` columns,  use `.dropna()` to remove rows where any of these two columns contains missing data and rows where all of these two columns contain missing data.

In [13]:
titanic = pd.read_csv('./data/titanic.csv')
print(titanic.shape)
titanic.info()

(1309, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
pclass       1309 non-null int64
survived     1309 non-null int64
name         1309 non-null object
sex          1309 non-null object
age          1046 non-null float64
sibsp        1309 non-null int64
parch        1309 non-null int64
ticket       1309 non-null object
fare         1308 non-null float64
cabin        295 non-null object
embarked     1307 non-null object
boat         486 non-null object
body         121 non-null float64
home.dest    745 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.2+ KB

In [14]:
df = titanic[['age', 'cabin']]
print(df.shape)

(1309, 2)

In [15]:
# Drop rows in df with how='any', rows where either column has an 'NaN' value
print(df.dropna(how='any').shape)

# Drop rows in df with how='all', rows where both columns have 'NaN' values
print(df.dropna(how='all').shape)

(272, 2)
(1069, 2)

Drop columns from the `titanic` DataFrame that have less than `1000` non-missing values by specifying the `thresh` and `axis` keyword arguments.

In [16]:
# Drop columns in titanic with less than 1000 non-missing values
print(titanic.dropna(thresh=1000, axis='columns').info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
pclass      1309 non-null int64
survived    1309 non-null int64
name        1309 non-null object
sex         1309 non-null object
age         1046 non-null float64
sibsp       1309 non-null int64
parch       1309 non-null int64
ticket      1309 non-null object
fare        1308 non-null float64
embarked    1307 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 102.3+ KB
None

Use a dictionary to map the values `Obama` and `Romney` in the `winner` column to the values `blue` and `red`, and assign the output to the new column `color`.

In [17]:
# Create the dictionary: red_vs_blue
red_vs_blue = {'Obama': 'blue', 'Romney': 'red'}

# Use the dictionary to map the 'winner' column to the new column: election['color']
election['color'] = election.winner.map(red_vs_blue)

election.head()

,state,total,Obama,Romney,winner,voters,turnout,margin,color
county,,,,,,,,,
Adams,PA,41973,35.482334,63.112001,Romney,61156,68.632677,27.629667,red
Allegheny,PA,614671,56.640219,42.185820,Obama,924351,66.497575,14.454399,blue
Armstrong,PA,28322,30.696985,67.901278,Romney,42147,67.198140,37.204293,red
Beaver,PA,80015,46.032619,52.637630,Romney,115157,69.483401,6.605012,red
Bedford,PA,21444,22.057452,76.986570,Romney,32189,66.619031,54.929118,red